language: java

sudo: false

jdk:
  - openjdk8

addons:
    postgresql: "9.6"

cache:
  directories:
    - $HOME/.m2

script: ./mvnw clean verify

after_success:
  - ./mvnw coveralls:report

notifications:
  email:
    on_failure: change
